body {
	margin: 0;
	background-color: #333;
	color: #cdf;
	font-family: "ABeeZee";
	font-size: 22px;
}
h1 {
	font-family: "ABeeZee";
	color: #cdf;
	text-align: center;
	text-decoration: none;
	font-size: 60px;
	margin: 10px;
}
.tab {
	background-color: #444;
	font-family: "ABeeZee", sans-serif;
	overflow: hidden;
}
.tab a {
	float: left;
	color: #cdf;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.tab a:hover {
	background-color: #2a2a2a;
	color: #cdf;
}
.tab a.active {
	background-color: rgb(87, 104, 138);
	color: #fff;
	box-shadow: 0px 0px 65px #000;
	text-shadow: 0px 0px 10px #cdf;
}
.subtab {
	background-color: #3a3a3a;
	font-family: "ABeeZee", sans-serif;
	overflow: hidden;
}
.subtab a {
	float: left;
	color: #cdf;
	text-align: center;
	padding: 5px 16px;
	text-decoration: none;
	font-size: 17px;
}
.subtab a:hover {
	background-color: #2a2a2a;
	color: #cdf;
}
.subtab a.active {
	background-color: #cdf;
	color: #000;
	box-shadow: 0px 0px 65px #cdf;
}